
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&family=Philosopher:ital@1&family=Tsukimi+Rounded:wght@300;400&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="main_text">つぶやく</h1>
      </div>
    </header>



<%= form_with(model: @post, local: true , url: choose_new_or_edit) do |form| %>


<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="text_field">
  
  <%= form.text_field :content %>
</div>
<div class="button_center">
      <%= form.submit class: 'button_post' %>
    </div>

<% end %>
<footer>
<p><small>&copy;2023 postpost</small></p>
</footer>
  </body>
</body>